
@{
    Layout = null;
}
<head>
    <style>
        /* Footer */

        .main-footer {
            color: white;
            background-color: black;
        }

        .upper-footer a {
            text-decoration: none;
            color: white;
        }

            .upper-footer a span i {
                padding: 10px;
            }

        .lower-footer ul {
            list-style: none;
            padding-left: 0;
        }

            .lower-footer ul li {
                cursor: pointer;
            }

        .edit {
            color: grey;
        }
    </style>
</head>
<footer class="main-footer mt-3">
    <div class="container">
        <div class="row align-items-center upper-footer">
            <div class="col-6 pt-4 pb-4">
                <h2>Movie World</h2>
            </div>
            <div class="col-6 pt-4 pb-4">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <a href=""><span><i class="bi bi-facebook"></i> Facebook</span></a>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <a href=""><span><i class="bi bi-instagram"></i> Instagram</span></a>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <a href=""><span><i class="bi bi-google"></i> Google</span></a>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <a href=""><span><i class="bi bi-twitter"></i> Twitter</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row lower-footer">
            <div class="pt-4">
                <div class="container">
                    <div class="row p-4">
                        <div class="col-sm">
                            <div class="row">
                                <div>
                                    <h3>Movie Categories</h3>
                                </div>
                                <div class="col-sm">
                                    <ul>
                                        <li>Action</li>
                                        <li>Adventure</li>
                                        <li>Animation</li>
                                        <li>Comedy</li>
                                        <li>Crime</li>
                                    </ul>
                                </div>
                                <div class="col-sm">
                                    <ul>
                                        <li>Draman</li>
                                        <li>Fantacy</li>
                                        <li>Horror</li>
                                        <li>Mystery</li>
                                        <li>Romance</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div>
                                    <h3>TV Series</h3>
                                </div>
                                <div class="col-sm">
                                    <ul>
                                        <li>Valentine Day</li>
                                        <li>Underrated Comedies</li>
                                        <li>Scary TV Series</li>
                                        <li>Best 2018 Documentaries</li>
                                        <li>Classic Shows</li>
                                    </ul>
                                </div>
                                <div class="col-sm">
                                    <ul>
                                        <li>Big TV Premieres</li>
                                        <li>Reality TV Shows</li>
                                        <li>Original Shows</li>
                                        <li>Suprise of the Year Shows</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-sm">
                            <p class="copyright_text mb-0">
                                Copyright &#169; 2021 Movie World &#8482; | Designed by
                                Karanpreet
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

